@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  font-weight: 500;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header ul,
.footer ul {
  display: flex;
  list-style-type: none;
  padding: 16px;
  margin: 0;
  gap: 16px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
}
